---
---

@import "{{ site.theme }}";

h1 small {
    display: block;
}

footer {
    font-size: 10px;
}

textarea {
    font-family: monospace;
}

header a {
    color: black;

    &:active, &:visited, &:active, &:hover {
        color: black;
    }
}

pre {
    white-space: pre-wrap;
}

.verse {
    white-space: pre-wrap;
    margin-bottom: 3em;
}
